
   .main{
     width: 400px;
     height: 380px;
     border: 2px solid black;
     margin: 0;
     padding: 10px;
   }
   .logo .fa{
     font-size: 58px;
     padding: 25px;
     margin-left: 5%;
   }
   
   .logo{
     display: inline;
   }
   .main .heading{
     color:rgb(23, 165, 137);
     margin-left: 15%;
     margin-bottom: 5px;
     font-family: 'Nunito';
     font-size: 35px;
     font-weight: 650;


   }